* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #D0F7FF;
}

.logo {
  height: 7rem;
  width: 9rem;
  animation-iteration-count: 4;
  margin: 1rem;
}

h1 {
  font-size: 3rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/homepage.jpg);
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 5rem;
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px black;
  transition-delay: 1s;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0rem 2rem 0rem;
}

nav li {
  margin: 1rem 4rem 1rem 4rem;
  list-style: none;
  background-color: #f3ee6a;
  padding: 10px;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

nav li:hover {
  background-color: #FEFFD0;
}


/**********404***********/

section {
  padding: 10px;
  background-image: url(../images/404-image/sm-404-dog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  max-width: 100%;
}

.error-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-text h2 {
  font-size: 50px;
}

.error-text p {
  font-size: 20px;
}

.error-text li{
  margin: 1rem 4rem 1rem 4rem;
  list-style: none;
  background-color: #f3ee6a;
  padding: 10px;
  border-radius: 10px;
}

.error-text a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.error-text li:hover {
  background-color: #FEFFD0;
}

/*footer*/

footer {
  padding: 2rem;
  background-color: #FEFFD0;
} 

footer ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
}

footer li {
  padding: 5px;
  font-size: 15px;
}

footer p {
  text-align: center;
}

.license {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
