* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #D0F7FF;
  padding: 1rem;
}

.logo {
  height: 7rem;
  width: 9rem;
  animation-iteration-count: 4;
  margin: 1rem;
}

h1 {
  font-size: 3rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/homepage.jpg);
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 5rem;
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px black;
  transition-delay: 1s;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0rem 2rem 0rem;
}

nav li {
  margin: 1rem 4rem 1rem 4rem;
  list-style: none;
  background-color: #f3ee6a;
  padding: 10px;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

nav li:hover {
  background-color: #FEFFD0;
}

/*******************content**********************/

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 120ch;
  margin: auto;
  padding: 2rem;
}

h3, h4 {
  font-size: 40px;
  margin: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 20px;
  color: #fbfac2;
  text-shadow: 1px 1px 6px #2fdcff;
}

section p {
  line-height: 2;
  margin: 2rem;
  font-size: 15px;
  text-align: justify;
}

section img {
  height: 40rem;
  width: 60rem;
  margin: 2rem;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #FEFFD0;
  height: 20vh;
} 

footer ul {
  list-style: none;
  margin: 2rem;
}

