* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #D0F7FF;
}

.logo {
  height: 7rem;
  width: 9rem;
  animation-iteration-count: 4;
  margin: 1rem;
}

h1 {
  font-size: 3rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/homepage.jpg);
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 5rem;
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px black;
  transition-delay: 1s;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0rem 2rem 0rem;
}

nav li {
  margin: 1rem 4rem 1rem 4rem;
  list-style: none;
  background-color: #f3ee6a;
  padding: 10px;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

nav li:hover {
  background-color: #FEFFD0;
}

/***********content**********/


h2 {
  font-size: 7rem;
  text-align: center;
  margin: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 5px;
  transition-duration: 2s;
  transition-delay: 3s;
  background: linear-gradient(rgb(85, 16, 204), rgb(69, 13, 13));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  flex-wrap: wrap;
}

section .card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 60ch;
  height: 90ch;
  border: 1px solid rgb(165, 165, 165);
  margin: 3rem;
  border-radius: 20px;
  background: linear-gradient(white, gray, rgb(32, 32, 93), rgb(54, 2, 2));
}

section .card:hover {
  box-shadow: 2px 2px 4px black;
  transition-duration: 3s;
  color: rgb(3, 54, 5);
  background: linear-gradient(rgb(3, 54, 5),rgb(153, 236, 70), gray, white);
}

figure img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 2.5rem;
}

figcaption {
  font-size: 2rem;
  padding-top: 10px;
  font-weight: bold;
}

p {
  max-width: 30ch;
  margin: 2rem;
  font-size: 15px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.icon a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 18px;
  color: magenta;
  font-weight: bold;
}

.icon a:hover {
  color: rebeccapurple;
}

/*footer*/

footer {
  padding: 2rem;
  background-color: #FEFFD0;
} 

footer ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
}

footer li {
  padding: 5px;
  font-size: 15px;
}

footer p {
  text-align: center;
}

.license {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
